html, body {
	width: 97%;
	height: 97%;
	padding: 1%;
	margin: 0px;
}

#game {
	cursor: none;
	margin: auto;
	padding: 0px;
	width: 97%;
	height: 97%;
	border: 12px outset black;
	background-color: black;
}

#wrapper: {
	text-align: center;
	vertical-align: middle;
	display:inline-block;
}
